*{
  margin: 0;
  padding: 0;
  margin-left: 1%;
  }

  ul{
  list-style: none;
  line-height: 50px;
  border: 3px solid #F18F01;
  width: 140px;
  }
  
  nav>ul>li>ul {
  position:absolute;
  top:0;
  left:100%;
  display: none;
  }

  nav>ul li{
      width:140px;
      margin: 0;
      position: relative;
      background-color: #FFE6C2;
      text-align: center;
      font-weight: bold;
  }
  
  nav>ul>li:hover>ul {
      display:block;
  }

  nav ul li a{
  text-decoration: none;
  color: #2E4069;
  }
  
  nav ul li a:hover{
      border: 2px solid #F18F01;
      display:block;
  }
  
  nav a:hover, nav a:focus{
      background-color: #C3F3FD;
  }
  
  ul{
  list-style-type: none;
  }
         
